<footer>
    <div class="container">
        <div class="row justify-content-between align-items-center gap-5">
            <div class="col text-center text-sm-start">
                <a href="/" class="d-inline-block mb-4">
                    <img src="../assets/images/logo.svg" alt="Logo Image">
                </a>
                <p class="mb-4 fs-5">若有數位產品設計和開發相關問題<br>歡迎填寫表單，或直接與我聯絡！
                </p>
                <a href="mailto:service@hexschool.com"
                    class="text-decoration-none link-secondary fs-5">service@hexschool.com</a>
            </div>

            <ul class="col col-md-auto list-unstyled">
                <li class="mb-4">
                    <a class="btn btn-dark d-flex align-items-center" href="#" role="button">
                        <img class="d-block me-1" src="../assets/images/icon/icon-list.svg" alt="Icon">
                        <span class="fs-5 text-truncate">填寫表單</span>
                    </a>
                </li>
                <li class="mb-4">
                    <a class="btn btn-outline-dark bg-white d-flex align-items-center" href="#" role="button">
                        <img class="d-block me-1" src="../assets/images/icon/icon-ig.svg" alt="Icon">
                        <span class="fs-5 text-black text-truncate">hexschool_demo</span>
                    </a>
                </li>
                <li class="">
                    <a class="btn btn-outline-dark bg-white d-flex align-items-center" href="#" role="button">
                        <img class="d-block me-1" src="../assets/images/icon/icon-fb.svg" alt="Icon">
                        <span class="fs-5 text-black text-truncate">hexschoolTW</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>