<nav class="navbar navbar-expand-lg bg-white border-bottom sticky-top">
    <div class="container">
        <h1>
            <a href="index.html" class="navbar-brand" title="前往首頁">
                <img src="../assets/images/logo.svg" alt="Logo Image">
            </a>
        </h1>
        <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav align-items-center mx-lg-auto gap-3 gap-lg-5">
                <li class="nav-item">
                    <a class="nav-link p-2" href="#">首頁</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2" href="#">作品集</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2" href="#">服務項目</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2" href="#">部落格</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2" href="#">聯絡我</a>
                </li>
            </ul>
        </div>
    </div>
</nav>